<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.game.kamz.dotsandbox"
    android:versionCode="7"
    android:versionName="0.5" >

    <!--
    Provide support for all display sizes. Only from API version 4 
    for example The HTC Wildfire supports. On this the game should run well.
    -->
    <uses-sdk
        android:minSdkVersion="3"
        android:targetSdkVersion="4" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowClearUserData="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="com.game.kamz.dotsandbox.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.game.kamz.dotsandbox.GameActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.game.kamz.dotsandbox.About"
            android:label="@string/title_activity_about" android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.game.kamz.dotsandbox.GameSummary"
            android:label="@string/title_activity_game_summary" android:screenOrientation="portrait" >
        </activity>
         <activity android:name="com.google.ads.AdActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"></activity>
     <activity android:name="com.game.kamz.dotsandbox.AdsTry" ></activity>
    
        
    </application>

</manifest>